[package]
name = "embedded-tls"
version = "0.7.0"
edition = "2021"
authors = [
    "Bob McWhirter <bmcwhirt@redhat.com>",
    "Ulf Lilleengen <lulf@redhat.com>"
]
description = "TLS 1.3 client with no_std support and no allocator"
documentation = "https://docs.rs/embedded-tls"
readme = "README.md"
homepage = "https://drogue.io"
repository = "https://github.com/drogue-iot/embedded-tls"
license = "Apache-2.0"
keywords = ["embedded", "async", "tls", "no_std", "network"]
exclude = [".github"]

[dependencies]
p256 = { version = "0.11", default-features = false, features = [ "ecdh", "arithmetic" ] }
rand_core = { version = "0.6.3", default-features = false }
hkdf = "0.12.3"
hmac = "0.12.1"
sha2 = { version = "0.10.2", default-features = false }
aes-gcm = { version = "0.9.4", default-features = false, features = ["aes"] }
digest = { version = "0.10.3", default-features = false, features = ["core-api"] }
typenum = { version = "1.15.0", default-features = false }
heapless = { version = "0.7", default-features = false }
embedded-io = "0.3.0"
generic-array = { version = "0.14", default-features = false }
#webpki = { version = "0.22.0", default-features = false }
#webpki = { path = "../../webpki", default-features = false }
webpki = { version = "0.21.4", git = "https://github.com/lulf/webpki", rev = "d5188bd8c0a2c9cb14ec7835e63253e793e720a1", default-features = false, optional = true }

# Logging alternatives
log = { version = "0.4", optional = true }
defmt = { version = "0.3", optional = true }

[dev-dependencies]
env_logger = "0.9"
tokio = { version = "1.7", features = ["full"] }
mio = { version = "0.8.3", features = ["os-poll", "net"] }
rustls = "0.20.6"
rustls-pemfile = "1.0"
serde = { version = "1.0", features = ["derive"] }
rand = "0.8"
log = "0.4"
pem-parser = "0.1.1"

[features]
default = ["std", "async", "log", "tokio"]
defmt = ["dep:defmt", "embedded-io/defmt", "heapless/defmt-impl"]
std = ["embedded-io/std"]
tokio = ["embedded-io/tokio"]
async = ["embedded-io/async"]
