[package]
name = "ping-embassy-net"
version = "0.2.0"
edition = "2018"
authors = [
    "Bob McWhirter <bmcwhirt@redhat.com>",
    "Ulf Lilleengen <lulf@redhat.com>"
]

[dependencies]
drogue-tls = { path = "../..", features = ["log"] }
env_logger = "0.8"
rand_core = { version = "0.6.2", default-features = false }
rand = "0.8"
log = "0.4"
embassy-net = {git = "https://github.com/embassy-rs/embassy.git", branch = "master", features = ["std", "tcp", "dhcpv4", "medium-ethernet", "log"] }
embassy = {git = "https://github.com/embassy-rs/embassy.git", branch = "master", default-features = false, features = ["std"] }
embassy-std = {git = "https://github.com/embassy-rs/embassy.git", branch = "master", default-features = false }
smoltcp = { git = "https://github.com/smoltcp-rs/smoltcp", rev="e4241510337e095b9d21136c5f58b2eaa1b78479", default-features = false }
async-io = "1.3.1"
futures = { version = "0.3.8", default-features = false, features = ["async-await"] }
libc = "0.2.81"
clap = { version = "3.0.0-beta.2", features = ["derive"] }
heapless = { version = "0.7.1", default-features = false }